* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	background-color: rgb(19, 21, 21);
	font-family: Lato, Arial, Helvetica, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	width: 100%;
	margin: 0 auto auto;
	background-color: var(--background-container);
}

.container-center {
	display: flex;
	width: 100%;
	max-width: 800px;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	flex-wrap: nowrap;
	margin: auto;
	padding: 20px;
	background-color: var(--background-container);
}

.form-error {
	display: flex;
	width: 100%;
	max-width: 800px;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	flex-wrap: nowrap;
	margin: 10px 0;
	padding: 20px;color: rgb(219, 112, 112);
	background-color: rgb(37, 7, 7);
    border: 1px solid rgba(188, 188, 188, 0.354);
}


.container-error {
	display: flex;
	width: 100%;
	max-width: 800px;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	flex-wrap: nowrap;
	margin: auto;
	padding: 24px 0;
	color: rgb(219, 112, 112);
	background-color: rgb(37, 7, 7);
    border: 1px solid rgba(188, 188, 188, 0.354);
}

.spacer {
	height: 25px;
	border-bottom: 1px solid rgba(188, 188, 188, 0.354);
}

.spacer-clear {
	height: 25px;
}

.sub-h {
    color: var(--text-primary);
    margin: 10px;
}

.center-h {
	color: var(--text-primary);
	margin: 10px;
	text-align: center;
}